BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 8
UseTab: ForIndentation
ContinuationIndentWidth: 4
ColumnLimit: 132
BreakBeforeBraces: Linux
AlwaysBreakAfterDefinitionReturnType: All
PointerAlignment: Right
SortIncludes: Never
SpaceAfterCStyleCast: false
